html {
    font-size: 62.5%;
}
body {
    margin: 0;
    font-family: 'Roboto Mono';
    background-color:rgb(167, 191, 194);
}
.wrapper {
    min-height: calc(100vh - 70px);
    margin: 0 auto
}
.header {
    align-items: center;
    text-align: center;
    font-size: 2.7rem;
    font-family: 'Poppins';
}
.header a {
    text-decoration:none;
    color: #5E5C64;
}
.header .red {
    font-family: 'Roboto Mono';
    color: #990011;
}
.header .redtwo {
    font-family: 'Lilita One';
    color: #990011;
    font-size: 130%;
}
footer {
    height: 50px;
    margin-left: 25px;
}